In [1]:
import pandas as pd
import numpy as np

In [2]:
#Read in files
df_Schools = pd.read_csv('schools_complete.csv', delimiter = ',')
df_Students = pd.read_csv('students_complete.csv', delimiter = ',')

In [3]:
df_Schools.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
df_Students.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
#get totals
Total_Schools = df_Schools.shape[0]
Total_Students = df_Students.shape[0]
Total_Budget = df_Schools['budget'].sum()
Avg_Math_Score = df_Students['math_score'].mean()
Avg_Reading_Score = df_Students['reading_score'].mean()
print(Avg_Math_Score)

78.98537145774827

In [6]:
#Calc percent passing Math
Pass_Math = df_Students[df_Students['math_score'] >= 60].shape[0]
Pct_Pass_Math = Pass_Math/Total_Students #* 100
print(Pass_Math)
print(Pct_Pass_Math)

36211
0.9244574929793209

In [7]:
#Cals percent passing reading
Pass_Reading = df_Students[df_Students['reading_score'] >= 60].shape[0]
Pct_Pass_Reading = Pass_Reading/Total_Students #* 100
print(Pass_Reading)
print(Pct_Pass_Reading)

39170
1.0

In [8]:
#Calc average of two percentages for Overall Passing Rate

#Step 1 - multiply decimal percent by population and add together
Pct_Convert1 = (Pct_Pass_Math * Pass_Math) + (Pct_Pass_Reading * Pass_Reading)

#Step 2 - Add population sizes together
SampleSize = Pass_Math + Pass_Reading

#Step 3 - Divide s1 by s2
Overall_Pass_Rate = (Pct_Convert1/SampleSize) * 100

Overall_Pass_Rate

96.37114163817697

In [9]:
#District Summary
# intialize data of lists. 
data = {'Metric':['Total Schools', 'Total Students', 'Total Budget', 'Avg Math Score',
                  'Avg Reading Score', '%Passing Math','%Passing Reading', 'Overall Pass Rate'], 
        'Values':[Total_Schools, Total_Students, Total_Budget, int(Avg_Math_Score), 
        int(Avg_Reading_Score), int(Pct_Pass_Math * 100), int(Pct_Pass_Reading * 100), int(Overall_Pass_Rate)]} 
  
# Create DataFrame 
dist_summary = pd.DataFrame(data) 

# Print the output. 
dist_summary

              Metric    Values
0      Total Schools        15
1     Total Students     39170
2       Total Budget  24649428
3     Avg Math Score        78
4  Avg Reading Score        81
5      %Passing Math        92
6   %Passing Reading       100
7  Overall Pass Rate        96

In [126]:
#combine Schools and Students data
df_Merge = pd.merge(df_Schools, df_Students, on='school_name', how='outer')

#remove "th" from grade for sorting later
df_Merge['grade'] = df_Merge['grade'].str[:-2]  

df_Merge.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9,97,84

In [36]:
#Filter passing math for School Summary - filter before grouping because filtering after group is done doesn't seem to work
df_Pass_Math = df_Merge[df_Merge["math_score"] >= 60] 
df_Pass_Math.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94

In [37]:
#Group by for %Passing Math totals
df_Pass_Math_Grp = df_Pass_Math.groupby(['school_name', 'type'])
df_Pass_Math_Grp.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94
2917,1,Figueroa High School,District,2949,1884411,2917,Amy Jacobs,F,10th,85,87
2918,1,Figueroa High School,District,2949,1884411,2918,Nathan Campbell,M,12th,97,84
2919,1,Figueroa High School,District,2949,1884411,2919,Randall Stewart,M,12th,67,77
2920,1,Figueroa High School,District,2949,1884411,2920,Jennifer Brown,F,9th,97,64
2921,1,Figueroa High School,District,2949,1884411,2921,Denise Lopez,F,10th,79,64
5866,2,Shelton High School,Charter,1761,1056600,5866,Jamie Montgomery,F,12th,70,91
5867,2,Shelton High School,Charter,1761,1056600,5867,Shannon Phillips,F,10th,84,71
5868,2,Shelton High School,Charter,1761,1056600,5868,Todd Barber,M,11th,95,99
5869,2,Shelton High School,Charter,1761,1056600,5869,Desiree King,F,12th,76,95
5870,2,Shelton High School,Charter,1761,1056600,5870,Melissa Roberts,F,10th,71,82
7627,3,Hernandez High School,District,4635,3022020,7627,Russell Davis,M,10th,70,88
7628,3,Hernandez High School,District,4635,3022020,7628,Timothy Walker,M,12th,97,93
7629,3,Hernandez High School,District,4635,3022020,7629,Katie Johnston,F,12th,83,81
7630,3,Hernandez High School,District,4635,3022020,7630,Joann Oconnell,F,12th,77,91
7631,3,Hernandez High School,District,4635,3022020,7631,Sarah Alexander,F,10th,84,93
12262,4,Griffin High School,Charter,1468,917500,12262,Heather Wright,F,11th,79,68
12263,4,Griffin High School,Charter,1468,917500,12263,Elizabeth Goodwin,F,10th,91,81
12264,4,Griffin High School,Charter,1468,917500,12264,Michelle Wong,F,9th,78,89
12265,4,Griffin High School,Charter,1468,917500,12265,Scott Roth MD,M,11th,91,85
12266,4,Griffin High School,Charter,1468,917500,12266,Billy Wilson,M,12th,76,83
13730,5,Wilson High School,Charter,2283,1319574,13730,Kelli Anderson,F,10th,84,71
13731,5,Wilson High School,Charter,2283,1319574,13731,Russell Ramirez,M,10th,72,87
13732,5,Wilson High School,Charter,2283,1319574,13732,Eric Butler,M,10th,97,82
13733,5,Wilson High School,Charter,2283,1319574,13733,Warren Kerr,M,11th,93,68
13734,5,Wilson High School,Charter,2283,1319574,13734,Gail Hall,F,9th,79,72
...,...,...,...,...,...,...,...,...,...,...,...
23274,9,Pena High School,Charter,962,585858,23274,Alec Davis,M,9th,91,75
23275,9,Pena High School,Charter,962,585858,23275,Michael Meyer,M,10th,94,76
23276,9,Pena High School,Charter,962,585858,23276,Donald Gutierrez,M,11th,98,91
23277,9,Pena High School,Charter,962,585858,23277,Travis Chavez,M,11th,78,71
23278,9,Pena High School,Charter,962,585858,23278,Sheena Ball,F,12th,87,92
24236,10,Wright High School,Charter,1800,1049400,24236,Aaron Johnson,M,10th,89,72
24237,10,Wright High School,Charter,1800,1049400,24237,Kimberly Hamilton,F,10th,84,93
24238,10,Wright High School,Charter,1800,1049400,24238,Ashley Johns,F,10th,88,88
24239,10,Wright High School,Charter,1800,1049400,24239,Stephanie Donovan,F,10th,75,84
24240,10,Wright High School,Charter,1800,1049400,24240,Cynthia Guzman,F,11th,93,82
26036,11,Rodriguez High School,District,3999,2547363,26036,Sherry Jenkins,F,11th,74,81
26037,11,Rodriguez High School,District,3999,2547363,26037,Kimberly Calderon,F,10th,80,86
26038,11,Rodriguez High School,District,3999,2547363,26038,William Brady,M,11th,97,62
26039,11,Rodriguez High School,District,3999,2547363,26039,Jacob Padilla,M,11th,79,73
26040,11,Rodriguez High School,District,3999,2547363,26040,Paula Maldonado,F,10th,96,92
30035,12,Johnson High School,District,4761,3094650,30035,Lisa Casey,F,12th,87,87
30036,12,Johnson High School,District,4761,3094650,30036,Jessica Lopez,F,9th,98,62
30037,12,Johnson High School,District,4761,3094650,30037,Anna Wilkins,F,11th,89,77
30038,12,Johnson High School,District,4761,3094650,30038,Andrew Smith,M,9th,66,85
30039,12,Johnson High School,District,4761,3094650,30039,Robert Allison,M,11th,63,85
34796,13,Ford High School,District,2739,1763916,34796,Michael Mercado,M,9th,66,94
34797,13,Ford High School,District,2739,1763916,34797,Stephen Wolf,M,11th,68,63
34801,13,Ford High School,District,2739,1763916,34801,Mr. William Scott,M,9th,73,75
34803,13,Ford High School,District,2739,1763916,34803,Steven Lee,M,9th,77,84
34804,13,Ford High School,District,2739,1763916,34804,Candace Campbell,F,11th,80,67
37535,14,Thomas High School,Charter,1635,1043130,37535,Norma Mata,F,10th,76,76
37536,14,Thomas High School,Charter,1635,1043130,37536,Cody Miller,M,11th,84,82
37537,14,Thomas High School,Charter,1635,1043130,37537,Erik Snyder,M,9th,80,90
37538,14,Thomas High School,Charter,1635,1043130,37538,Tanya Martinez,F,9th,71,69
37539,14,Thomas High School,Charter,1635,1043130,37539,Noah Erickson,M,9th,86,76

In [38]:
#Get totals pass math for school summary 
TotalPassMathGrp = df_Pass_Math_Grp["Student ID"].count()
TotalPassMathGrp.head()

school_name           type
Bailey High School    District    4455
Cabrera High School   Charter     1858
Figueroa High School  District    2608
Ford High School      District    2446
Griffin High School   Charter     1468
Name: Student ID, dtype: int64

In [39]:
#Filter passing reading for School Summary - filter before grouping because filtering after group is done doesn't seem to work
df_Pass_Read = df_Merge[df_Merge["reading_score"] >= 60] 
df_Pass_Read.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [40]:
#Group by for %Passing Reading totals
df_Pass_Read_Grp = df_Pass_Read.groupby(['school_name', 'type'])
df_Pass_Read_Grp.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
2917,1,Figueroa High School,District,2949,1884411,2917,Amy Jacobs,F,10th,85,87
2918,1,Figueroa High School,District,2949,1884411,2918,Nathan Campbell,M,12th,97,84
2919,1,Figueroa High School,District,2949,1884411,2919,Randall Stewart,M,12th,67,77
2920,1,Figueroa High School,District,2949,1884411,2920,Jennifer Brown,F,9th,97,64
2921,1,Figueroa High School,District,2949,1884411,2921,Denise Lopez,F,10th,79,64
5866,2,Shelton High School,Charter,1761,1056600,5866,Jamie Montgomery,F,12th,70,91
5867,2,Shelton High School,Charter,1761,1056600,5867,Shannon Phillips,F,10th,84,71
5868,2,Shelton High School,Charter,1761,1056600,5868,Todd Barber,M,11th,95,99
5869,2,Shelton High School,Charter,1761,1056600,5869,Desiree King,F,12th,76,95
5870,2,Shelton High School,Charter,1761,1056600,5870,Melissa Roberts,F,10th,71,82
7627,3,Hernandez High School,District,4635,3022020,7627,Russell Davis,M,10th,70,88
7628,3,Hernandez High School,District,4635,3022020,7628,Timothy Walker,M,12th,97,93
7629,3,Hernandez High School,District,4635,3022020,7629,Katie Johnston,F,12th,83,81
7630,3,Hernandez High School,District,4635,3022020,7630,Joann Oconnell,F,12th,77,91
7631,3,Hernandez High School,District,4635,3022020,7631,Sarah Alexander,F,10th,84,93
12262,4,Griffin High School,Charter,1468,917500,12262,Heather Wright,F,11th,79,68
12263,4,Griffin High School,Charter,1468,917500,12263,Elizabeth Goodwin,F,10th,91,81
12264,4,Griffin High School,Charter,1468,917500,12264,Michelle Wong,F,9th,78,89
12265,4,Griffin High School,Charter,1468,917500,12265,Scott Roth MD,M,11th,91,85
12266,4,Griffin High School,Charter,1468,917500,12266,Billy Wilson,M,12th,76,83
13730,5,Wilson High School,Charter,2283,1319574,13730,Kelli Anderson,F,10th,84,71
13731,5,Wilson High School,Charter,2283,1319574,13731,Russell Ramirez,M,10th,72,87
13732,5,Wilson High School,Charter,2283,1319574,13732,Eric Butler,M,10th,97,82
13733,5,Wilson High School,Charter,2283,1319574,13733,Warren Kerr,M,11th,93,68
13734,5,Wilson High School,Charter,2283,1319574,13734,Gail Hall,F,9th,79,72
...,...,...,...,...,...,...,...,...,...,...,...
23274,9,Pena High School,Charter,962,585858,23274,Alec Davis,M,9th,91,75
23275,9,Pena High School,Charter,962,585858,23275,Michael Meyer,M,10th,94,76
23276,9,Pena High School,Charter,962,585858,23276,Donald Gutierrez,M,11th,98,91
23277,9,Pena High School,Charter,962,585858,23277,Travis Chavez,M,11th,78,71
23278,9,Pena High School,Charter,962,585858,23278,Sheena Ball,F,12th,87,92
24236,10,Wright High School,Charter,1800,1049400,24236,Aaron Johnson,M,10th,89,72
24237,10,Wright High School,Charter,1800,1049400,24237,Kimberly Hamilton,F,10th,84,93
24238,10,Wright High School,Charter,1800,1049400,24238,Ashley Johns,F,10th,88,88
24239,10,Wright High School,Charter,1800,1049400,24239,Stephanie Donovan,F,10th,75,84
24240,10,Wright High School,Charter,1800,1049400,24240,Cynthia Guzman,F,11th,93,82
26036,11,Rodriguez High School,District,3999,2547363,26036,Sherry Jenkins,F,11th,74,81
26037,11,Rodriguez High School,District,3999,2547363,26037,Kimberly Calderon,F,10th,80,86
26038,11,Rodriguez High School,District,3999,2547363,26038,William Brady,M,11th,97,62
26039,11,Rodriguez High School,District,3999,2547363,26039,Jacob Padilla,M,11th,79,73
26040,11,Rodriguez High School,District,3999,2547363,26040,Paula Maldonado,F,10th,96,92
30035,12,Johnson High School,District,4761,3094650,30035,Lisa Casey,F,12th,87,87
30036,12,Johnson High School,District,4761,3094650,30036,Jessica Lopez,F,9th,98,62
30037,12,Johnson High School,District,4761,3094650,30037,Anna Wilkins,F,11th,89,77
30038,12,Johnson High School,District,4761,3094650,30038,Andrew Smith,M,9th,66,85
30039,12,Johnson High School,District,4761,3094650,30039,Robert Allison,M,11th,63,85
34796,13,Ford High School,District,2739,1763916,34796,Michael Mercado,M,9th,66,94
34797,13,Ford High School,District,2739,1763916,34797,Stephen Wolf,M,11th,68,63
34798,13,Ford High School,District,2739,1763916,34798,Bonnie Hughes,F,12th,73,59
34799,13,Ford High School,District,2739,1763916,34799,Melissa Smith,F,11th,88,58
34800,13,Ford High School,District,2739,1763916,34800,Brian Mitchell,M,10th,96,55
37535,14,Thomas High School,Charter,1635,1043130,37535,Norma Mata,F,10th,76,76
37536,14,Thomas High School,Charter,1635,1043130,37536,Cody Miller,M,11th,84,82
37537,14,Thomas High School,Charter,1635,1043130,37537,Erik Snyder,M,9th,80,90
37538,14,Thomas High School,Charter,1635,1043130,37538,Tanya Martinez,F,9th,71,69
37539,14,Thomas High School,Charter,1635,1043130,37539,Noah Erickson,M,9th,86,76

In [41]:
#Get totals pass reading for school summary
TotalPassReadGrp = df_Pass_Read_Grp["Student ID"].count()
TotalPassReadGrp.head()

school_name           type
Bailey High School    District    4976
Cabrera High School   Charter     1858
Figueroa High School  District    2949
Ford High School      District    2739
Griffin High School   Charter     1468
Name: Student ID, dtype: int64

In [61]:
#group by school/type for overall totals
df_grouped_school = df_Merge.groupby(['school_name', 'type'])

df_grouped_school.head()
#df_grouped_school.count().head(20)

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
2917,1,Figueroa High School,District,2949,1884411,2917,Amy Jacobs,F,10th,85,87
2918,1,Figueroa High School,District,2949,1884411,2918,Nathan Campbell,M,12th,97,84
2919,1,Figueroa High School,District,2949,1884411,2919,Randall Stewart,M,12th,67,77
2920,1,Figueroa High School,District,2949,1884411,2920,Jennifer Brown,F,9th,97,64
2921,1,Figueroa High School,District,2949,1884411,2921,Denise Lopez,F,10th,79,64
5866,2,Shelton High School,Charter,1761,1056600,5866,Jamie Montgomery,F,12th,70,91
5867,2,Shelton High School,Charter,1761,1056600,5867,Shannon Phillips,F,10th,84,71
5868,2,Shelton High School,Charter,1761,1056600,5868,Todd Barber,M,11th,95,99
5869,2,Shelton High School,Charter,1761,1056600,5869,Desiree King,F,12th,76,95
5870,2,Shelton High School,Charter,1761,1056600,5870,Melissa Roberts,F,10th,71,82
7627,3,Hernandez High School,District,4635,3022020,7627,Russell Davis,M,10th,70,88
7628,3,Hernandez High School,District,4635,3022020,7628,Timothy Walker,M,12th,97,93
7629,3,Hernandez High School,District,4635,3022020,7629,Katie Johnston,F,12th,83,81
7630,3,Hernandez High School,District,4635,3022020,7630,Joann Oconnell,F,12th,77,91
7631,3,Hernandez High School,District,4635,3022020,7631,Sarah Alexander,F,10th,84,93
12262,4,Griffin High School,Charter,1468,917500,12262,Heather Wright,F,11th,79,68
12263,4,Griffin High School,Charter,1468,917500,12263,Elizabeth Goodwin,F,10th,91,81
12264,4,Griffin High School,Charter,1468,917500,12264,Michelle Wong,F,9th,78,89
12265,4,Griffin High School,Charter,1468,917500,12265,Scott Roth MD,M,11th,91,85
12266,4,Griffin High School,Charter,1468,917500,12266,Billy Wilson,M,12th,76,83
13730,5,Wilson High School,Charter,2283,1319574,13730,Kelli Anderson,F,10th,84,71
13731,5,Wilson High School,Charter,2283,1319574,13731,Russell Ramirez,M,10th,72,87
13732,5,Wilson High School,Charter,2283,1319574,13732,Eric Butler,M,10th,97,82
13733,5,Wilson High School,Charter,2283,1319574,13733,Warren Kerr,M,11th,93,68
13734,5,Wilson High School,Charter,2283,1319574,13734,Gail Hall,F,9th,79,72
...,...,...,...,...,...,...,...,...,...,...,...
23274,9,Pena High School,Charter,962,585858,23274,Alec Davis,M,9th,91,75
23275,9,Pena High School,Charter,962,585858,23275,Michael Meyer,M,10th,94,76
23276,9,Pena High School,Charter,962,585858,23276,Donald Gutierrez,M,11th,98,91
23277,9,Pena High School,Charter,962,585858,23277,Travis Chavez,M,11th,78,71
23278,9,Pena High School,Charter,962,585858,23278,Sheena Ball,F,12th,87,92
24236,10,Wright High School,Charter,1800,1049400,24236,Aaron Johnson,M,10th,89,72
24237,10,Wright High School,Charter,1800,1049400,24237,Kimberly Hamilton,F,10th,84,93
24238,10,Wright High School,Charter,1800,1049400,24238,Ashley Johns,F,10th,88,88
24239,10,Wright High School,Charter,1800,1049400,24239,Stephanie Donovan,F,10th,75,84
24240,10,Wright High School,Charter,1800,1049400,24240,Cynthia Guzman,F,11th,93,82
26036,11,Rodriguez High School,District,3999,2547363,26036,Sherry Jenkins,F,11th,74,81
26037,11,Rodriguez High School,District,3999,2547363,26037,Kimberly Calderon,F,10th,80,86
26038,11,Rodriguez High School,District,3999,2547363,26038,William Brady,M,11th,97,62
26039,11,Rodriguez High School,District,3999,2547363,26039,Jacob Padilla,M,11th,79,73
26040,11,Rodriguez High School,District,3999,2547363,26040,Paula Maldonado,F,10th,96,92
30035,12,Johnson High School,District,4761,3094650,30035,Lisa Casey,F,12th,87,87
30036,12,Johnson High School,District,4761,3094650,30036,Jessica Lopez,F,9th,98,62
30037,12,Johnson High School,District,4761,3094650,30037,Anna Wilkins,F,11th,89,77
30038,12,Johnson High School,District,4761,3094650,30038,Andrew Smith,M,9th,66,85
30039,12,Johnson High School,District,4761,3094650,30039,Robert Allison,M,11th,63,85
34796,13,Ford High School,District,2739,1763916,34796,Michael Mercado,M,9th,66,94
34797,13,Ford High School,District,2739,1763916,34797,Stephen Wolf,M,11th,68,63
34798,13,Ford High School,District,2739,1763916,34798,Bonnie Hughes,F,12th,73,59
34799,13,Ford High School,District,2739,1763916,34799,Melissa Smith,F,11th,88,58
34800,13,Ford High School,District,2739,1763916,34800,Brian Mitchell,M,10th,96,55
37535,14,Thomas High School,Charter,1635,1043130,37535,Norma Mata,F,10th,76,76
37536,14,Thomas High School,Charter,1635,1043130,37536,Cody Miller,M,11th,84,82
37537,14,Thomas High School,Charter,1635,1043130,37537,Erik Snyder,M,9th,80,90
37538,14,Thomas High School,Charter,1635,1043130,37538,Tanya Martinez,F,9th,71,69
37539,14,Thomas High School,Charter,1635,1043130,37539,Noah Erickson,M,9th,86,76

In [48]:
#School Summary - total students
TotalStudents = df_grouped_school["Student ID"].count()
TotalStudents.head()

school_name           type
Bailey High School    District    4976
Cabrera High School   Charter     1858
Figueroa High School  District    2949
Ford High School      District    2739
Griffin High School   Charter     1468
Name: Student ID, dtype: int64

In [23]:
#School Summary - Total school Budget
TotalBudget = df_grouped_school["budget"].max()
TotalBudget.head()

school_name           type
Bailey High School    District    3124928
Cabrera High School   Charter     1081356
Figueroa High School  District    1884411
Ford High School      District    1763916
Griffin High School   Charter      917500
Name: budget, dtype: int64

In [127]:
#School Summary - Per Student Budget
PerStudentBudget = df_grouped_school["budget"].max()/df_grouped_school["Student ID"].count()
PerStudentBudget.head()

school_name           type
Bailey High School    District    628.0
Cabrera High School   Charter     582.0
Figueroa High School  District    639.0
Ford High School      District    644.0
Griffin High School   Charter     625.0
dtype: float64

In [25]:
#School Summary - Average Math Score
AvgSchoolMathScore =  df_grouped_school["math_score"].mean()
AvgSchoolMathScore.head()

school_name           type
Bailey High School    District    77.048432
Cabrera High School   Charter     83.061895
Figueroa High School  District    76.711767
Ford High School      District    77.102592
Griffin High School   Charter     83.351499
Name: math_score, dtype: float64

In [26]:
#School Summary - Average Reading Score
AvgSchoolReadScore =  df_grouped_school["reading_score"].mean()
AvgSchoolReadScore.head()

school_name           type
Bailey High School    District    81.033963
Cabrera High School   Charter     83.975780
Figueroa High School  District    81.158020
Ford High School      District    80.746258
Griffin High School   Charter     83.816757
Name: reading_score, dtype: float64

In [42]:
#Percent pass math by school
PctPassMathSchool = df_Pass_Math_Grp["Student ID"].count()/df_grouped_school["Student ID"].count()
PctPassMathSchool.head()

school_name           type
Bailey High School    District    0.895297
Cabrera High School   Charter     1.000000
Figueroa High School  District    0.884368
Ford High School      District    0.893027
Griffin High School   Charter     1.000000
Name: Student ID, dtype: float64

In [43]:
#Percent pass reading by school
PctPassReadSchool = df_Pass_Read_Grp["Student ID"].count()/df_grouped_school["Student ID"].count()
PctPassReadSchool.head()

school_name           type
Bailey High School    District    1.0
Cabrera High School   Charter     1.0
Figueroa High School  District    1.0
Ford High School      District    1.0
Griffin High School   Charter     1.0
Name: Student ID, dtype: float64

In [46]:
#Calc average of two percentages for Overall Passing Rate

#Step 1 - multiply decimal percent by population and add together
#Pct_Convert1 = (Pct_Pass_Math * Pass_Math) + (Pct_Pass_Reading * Pass_Reading)
PctCombine1 = (PctPassMathSchool * TotalPassMathGrp) + (PctPassReadSchool * TotalPassReadGrp )

#Step 2 - Add population sizes together
SampleSizeSchool = TotalPassMathGrp + TotalPassReadGrp

#Step 3 - Divide s1 by s2
OverallPassRateSchool = (PctCombine1/SampleSizeSchool) * 100

#Overall_Pass_Rate
OverallPassRateSchool

school_name            type
Bailey High School     District     95.054077
Cabrera High School    Charter     100.000000
Figueroa High School   District     94.573163
Ford High School       District     94.953581
Griffin High School    Charter     100.000000
Hernandez High School  District     94.856683
Holden High School     Charter     100.000000
Huang High School      District     94.757853
Johnson High School    District     94.900720
Pena High School       Charter     100.000000
Rodriguez High School  District     94.621407
Shelton High School    Charter     100.000000
Thomas High School     Charter     100.000000
Wilson High School     Charter     100.000000
Wright High School     Charter     100.000000
Name: Student ID, dtype: float64

In [52]:
# Creating DataFrame for Summary by School
school_summary_table = pd.DataFrame({"Total Students": TotalStudents,
                                    "Total Budget": TotalBudget,
                                    "Budget Per Student":PerStudentBudget,
                                    "Avg Math Score": AvgSchoolMathScore,
                                    "Avg Reading Score": AvgSchoolReadScore,
                                    "% Passing Math":PctPassMathSchool,
                                    "% Passing Reading": PctPassReadSchool,
                                    "Overall Pass Rate":OverallPassRateSchool})
school_summary_table.head()

,,Total Students,Total Budget,Budget Per Student,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,Overall Pass Rate
school_name,type,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.895297,1.0,95.054077
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,1.000000,1.0,100.000000
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.884368,1.0,94.573163
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.893027,1.0,94.953581
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,1.000000,1.0,100.000000

In [58]:
#Top 5 Performing Schools by Overall Passing Rate
TopPerfPassRate = school_summary_table.sort_values(["Overall Pass Rate"], ascending = False)
TopPerfPassRate.head(5)

,,Total Students,Total Budget,Budget Per Student,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,Overall Pass Rate
school_name,type,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,1.0,1.0,100.0
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,1.0,1.0,100.0
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,1.0,1.0,100.0
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,1.0,1.0,100.0
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,1.0,1.0,100.0

In [59]:
#Bottom 5 Performing Schools by Overall Passing Rate
TopPerfPassRate = school_summary_table.sort_values(["Overall Pass Rate"], ascending = True)
TopPerfPassRate.head(5)

,,Total Students,Total Budget,Budget Per Student,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,Overall Pass Rate
school_name,type,,,,,,,,
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.884368,1.0,94.573163
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.885471,1.0,94.621407
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.888584,1.0,94.757853
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.890831,1.0,94.856683
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.891829,1.0,94.900720

In [101]:
#Math scores by grade


df_Mathgrades = df_Merge.groupby(['school_name', 'grade'])
df_Mathgrades = df_Mathgrades["math_score"].mean()

#df_Mathgrades = df_Mathgrades.sort_values(["grade"])

df_Mathgrades.head()

school_name          grade
Bailey High School   10       76.996772
                     11       77.515588
                     12       76.492218
                     9        77.083676
Cabrera High School  10       83.154506
Name: math_score, dtype: float64

In [102]:
#Reading scores by grade

df_Readgrades = df_Merge.groupby(['school_name', 'grade'])
df_Readgrades = df_Readgrades["reading_score"].mean()


df_Readgrades.head()

school_name          grade
Bailey High School   10       80.907183
                     11       80.945643
                     12       80.912451
                     9        81.303155
Cabrera High School  10       84.253219
Name: reading_score, dtype: float64

In [106]:
#Scores by School spending - get min and max

minbudget = school_summary_table["Budget Per Student"].min()
maxbudget = school_summary_table["Budget Per Student"].max()
print(minbudget, maxbudget)

578.0 655.0

In [122]:
#Scores by School spending - create bins

# Create the bins in which Data will be held
# Bins are 0, 580, 600, 640, 680    
bins = [0, 580, 600, 640, 680]

# Create the names for the four bins
group_names = ["D", "C", "B", "A"]

school_summary_table["Budget Per Student Summary"] = pd.cut(school_summary_table["Budget Per Student"], bins, labels=group_names)

#school_summary_table

SchoolSpendSummary = school_summary_table.loc[['Budget Per Student Summary', 'Avg Math Score', 'Avg Reading Score', '% Passing Math', '% Passing Reading', 'Overall Pass Rate']]
#SchoolSpendSummary = SchoolSpendSummary.groupby(["Budget Per Student Summary"])

#SchoolSpendSummary = school_summary_table.groupby(["Budget Per Student Summary"])
SchoolSpendSummary.head()

,,Budget Per Student Summary,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,Overall Pass Rate
school_name,type,,,,,,
Bailey High School,District,B,77.048432,81.033963,0.895297,1.0,95.054077
Cabrera High School,Charter,C,83.061895,83.975780,1.000000,1.0,100.000000
Figueroa High School,District,B,76.711767,81.158020,0.884368,1.0,94.573163
Ford High School,District,A,77.102592,80.746258,0.893027,1.0,94.953581
Griffin High School,Charter,B,83.351499,83.816757,1.000000,1.0,100.000000